<header>
        <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
            <div class="container">
                <a routerLink="/movies" class="navbar-brand d-flex align-items-center" navbarToggle>
                    <strong>Movie App</strong>
                </a>
                <button class="navbar-toggler" type="button" (click)="toggleNavbar()">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" [ngClass]="{ 'show': navbarOpen }">
                    <ul class="navbar-nav mr-auto"> 
                        <li class="nav-item">
                        </li>
                    </ul>
                    <!-- <app-search></app-search> -->
                </div>
            </div>
        </nav>
</header>