<div class="container top movie_list_container bg-darkcl">
  <a (click)="backClicked()" style="cursor: pointer;"  class="btn btn-sm btn-danger">Go Back</a>
  <div>
    <div class="row favorite_label">
      <h3> My Favorites</h3>
    </div>
    <div class="row" *ngIf="favoriteMovies.length > 0; else templateName">
      <div class="col-6 col-md-2 col-sm-3 col-xs-6" [@divState] *ngFor="let movie of favoriteMovies">
        <div (click)="open(content)" class="item">
          <a [routerLink]="['/movie',movie.id]">
            <img class="img-fluid" src="https://image.tmdb.org/t/p/w300/{{movie.poster_path}}"
              *ngIf="movie.poster_path">
            <label class="movie_name_label">{{movie.original_title}}</label>
            <br>
            <label class="rating_label">Rating: {{movie.vote_average}}/10 - {{movie.vote_count}} votes</label>
          </a>
          <div (click)="removeFromFavorites(movie.id)" class="favorites_button">Remove-</div>
        </div>
      </div>
    </div>
    <ng-template #templateName>
      <div class="no_fav">No movies added as favorite!!!</div>
    </ng-template>
  </div>
</div>