<h2 mat-dialog-title>Movie Detail</h2>
<mat-dialog-content>
 <section class="jumbotron ">
    <div class="container junbron-top">
        <div class="row">
        <div class="col-lg-12">
        <br /> <br />
        <div class="media">
            <ng-container *ngIf="movie">
              <img src="https://image.tmdb.org/t/p/w300/{{movie.poster_path}}" class="mr-3" alt="{{ movie.title }}">
              <div class="media-body"> 
                <h5 class="mt-0">{{ movie.title }}</h5>
                <p class="genres">
                  <span *ngFor="let genre of movie.genres"> 
                      <span class="badge badge-secondary">{{ genre.name }}</span>
                    &nbsp;
                  </span>
                </p>
                <p> {{ movie.overview }} </p>
              </div>
            </ng-container>
        </div>
        </div>
        </div>
    </div>
</section>
</mat-dialog-content>
<mat-dialog-actions> 
  <button mat-button [mat-dialog-close]="true">Close</button>
</mat-dialog-actions>