<div class="container top movie_list_container bg-darkcl">
<div class="search_container">
  <a (click)="goToFavoites()" style="cursor: pointer;"  class="btn btn-sm btn-danger btn-fav">Favorites</a>
  <input #search (blur)="searchMovie(search.value)" type="input" placeholder="Search movie">
</div>


  <div class="row favorite_label">
    <h3>Top Movies - This week</h3>
  </div>
  <div class="row">
    <div class="col-6 col-md-2 col-sm-3 col-xs-6" [@divState] *ngFor="let movie of movies">
      <div class="item">
        <!-- <a [routerLink]="['/movie',movie.id]"> -->
          <img class="img-fluid" src="https://image.tmdb.org/t/p/w300/{{movie.backdrop_path}}"
            *ngIf="movie.poster_path">
          <label (click)="open(content, movie.id)" class="movie_name_label">{{movie.original_title}}</label>
          <br>
          <label class="rating_label">Rating: {{movie.vote_average}}/10 - {{movie.vote_count}} votes</label>
        <!-- </a> -->
        <div
          (click)="addToFavorites(movie.id, movie.original_title, movie.vote_average, movie.vote_count, movie.backdrop_path)"
          class="favorites_button">Add+</div>
      </div>
    </div>
  </div>
</div>