/* You can add global styles to this file, and also import other style files */
@import "../node_modules/bootstrap/scss/bootstrap.scss";
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

$body-background-color: #f8f8ff;
$white-color: rgb(255, 255, 255);
$red-color: #E50914;
$dropdown-hover-color: #212529;
$dropdown-hover-background: #241b1b;

body{
    background: $body-background-color;
}
.top{
    padding-top: 90px;
}
.junbron-top{
    padding-top: 15px;
}
.item {
    margin-bottom: 15px;
    transition: all .2s ease-in-out;
    box-shadow: 0 15px 8px 0 rgba(0,0,0,0.2);
    &:hover {
      transform: scale(1.125);
      z-index:11;
    }
}
h2.title{
    color: $white-color;
    font-size:16px;
    margin-bottom:0.8rem;
}
h2.title a{
    color: $red-color;
    &:hover {
        text-decoration: underline;
    }
}
.dropdown-item{
    font-size: 11px;
    text-decoration: uppercase;
}
.uppercase{
	text-transform: uppercase;
}
.dropdown-menu {
	>a.dropdown-item {
		&:hover, &:focus  {
			background-color: $dropdown-hover-background !important;
			color: $dropdown-hover-color;
		}
	}
} 

.movie_list_container {
    max-width: 100% !important;
}
.rating_label {
    left: 10px;
    position: relative;
    font-size: 10px
}
.movie_name_label {
    left: 10px;
    position: relative;
    font-size: 13px
}
.favorite_label {
    position: relative;
    left: 20px;
}
.favorites_button {
    font-size: 12px;
    position: relative;
    left: 11px;
    width: 15%;
    &:hover {
        cursor: pointer;
    }
}
.no_fav {
    position: relative;
    left: 6px;
    bottom: 12px;
    color: #E50914;
}
.search_container {
    float: right;
}
.movie_search_btn {
    left: 20px;
    position: relative;
}
.btn-fav {
    position: relative;
    right: 10px;
    top: -2px;
}